[submodule "opencv"]
	path = opencv
	url = git@github.com:opencv/opencv.git
	branch = master
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = git@github.com:opencv/opencv_contrib.git
	branch = master
[submodule "custom-modules/polarrect"]
	path = custom-modules/polarrect
	url = git@github.com:captainhorsepower/PolarRectification.git
